%footer
  .container
    .row{style: "text-align: center"}
      %ul.social-links
        %li
          = link_to 'http://twitter.com/ryanvirtueNZ' do
            %i.fa.fa-twitter{style: "font-size: 30px;"}
        %li
          = link_to 'http://instagram.com/rambleon_ryan' do
            %i.fa.fa-instagram{style: "font-size: 30px;"}
    .row
      .text-center.copyright
        &copy; Ryan Virtue #{Time.now.year}
