.container
  .row.row-offcanvas.row-offcanvas-right
    .jumbotron
      .col-xs-12.col-sm-12
        .text-center{style: 'color: #ffea00; font-family: "Comfortaa", cursive; weight: bold;'}
          %h2
            The ramblings of an unfit, slightly ranga kiwi and his journey to the top of the world's tallest freestanding mountain (and do some other difficult shit too).

  .row
    .col-xs-12.col-sm-12
      .post.blog-post
        - if @post
          %h2= @post.title
          %h3= @post.subtitle
          %article
            = @post.content.html_safe
