.jumbotron
  .container-fluid
    .text-center{style: 'color: #ffea00; font-family: "Comfortaa", cursive; weight: bold;'}
      %h2
        The ramblings of a relatively unfit, slightly ranga kiwi and his journey to the top of the world's tallest freestanding mountain.
