// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

blockquote {
  border-left: 5px solid #ffea00;
  p {
    background-color: #ffea00;
    padding: 10px;
    transform: rotate(2deg);
  }
  cite {
    color: #ffea00;
    padding: 10px;
    background: #000000;
    transform: rotate(-11deg);
    display: inline-block;
  }
}
