// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

blockquote {
  border-left: none;
  p {
    background-color: #ffea00;
    padding: 10px;
    transform: rotate(2deg);
  }
  cite {
    color: #ffea00;
    padding: 10px;
    background: #000000;
    transform: rotate(-11deg);
    display: inline-block;
  }
}

.post {
  article {
    line-height: 1.5;
    font-size: 18px;
  }
  h2, h3 {
    font-family: 'Allerta Stencil', sans-serif;
    text-align: center;
  }
}

.teaser {
  max-height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
