@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');

.hidden-header {
  display: none;
  position: inline;
}

.navbar-default {
  background-color: #27292b;
  .navbar-brand {
    color: #ffea00;
    font-family: 'Allerta Stencil', sans-serif;
  }
}

.jumbotron {
  height: 330px;
  background-image: url(kili.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
