@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');

.navbar-inverse {
  background-color: #27292b;
  .navbar-brand {
    color: #ffea00;
    font-family: 'Allerta Stencil', sans-serif;
  }
}

.jumbotron {
  height: 330px;
  background-image: url(kili.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.img-banner {
  background: url(kili.jpeg) no-repeat left center;
  background-size: cover;
}

.navbar {
  margin-bottom: 0px;
}

footer {
  height: 100px;
  background-color: #27292b;
  padding: 5px 0px;
}

.social-links {
  color: #ffea00;
  list-style: none;
  margin-top: 20px;
  display: inline-block;
  padding: 0px;
  li {
    display: inline-block;
    padding: 5px;
    a {
      color: #ffea00;
      &:hover {
        color: #ead42e;
      }
    }
  }
}

.copyright {
  color: #bcbaba;
}
